* {
    margin: 0%;
    padding: 0%;
  }
  body {
    background-color: bisque;
    /* background: linear-gradient(to right , rgb(255, 0, 99), rgb(255, 255, 255)); */
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgBox {
    margin-top: 5rem;
    margin-left: -8rem;
    height: 400px;
    width: 400px;
  }
  .content {
    margin-top: 10rem;
    display: block;
    padding: 2rem 2rem;
    background-color: aliceblue;
    border-radius: 1rem;
    border: 2px dashed black;
    /* box-shadow: 0px 3px 6px 9px rgba(0, 0, 0, 0.3); */
    filter: drop-shadow(1rem 1rem grey);
    /* align-items: center; */
  }
  .txtArea {
    margin: 2rem;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }
  .button {
    display: flex;
  }
  .btn {
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.2rem;
    margin-right: 3.5rem;
  
    background-color: aquamarine;
    color: grey;
    border-radius: 1rem;
  }
  .btn1 {
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9.1rem;
    background-color: aquamarine;
    color: grey;
    border-radius: 1rem;
  }
  .btn:hover {
    color: white;
    background-color: coral;
    transition: 1s;
  }
  .btn1:hover {
    color: white;
    background-color: coral;
    transition: 1s;
  }
  .image {
    filter: drop-shadow(1rem 1rem grey);
  }
  .footer {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -1rem;
    /* margin: 1rem; */
  }
  